fastapi 
uvicorn
python-multipart
faster-whisper
nvidia-cublas-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
TTS

# JWT
python-jose[cryptography]
passlib[bcrypt]

# Unit Test 
pytest
pytest-asyncio
httpx